---
import CardMatch from "../components/CardMatch.astro";
import Hero from "../components/Hero.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"
import '@fontsource/luckiest-guy';

import agendaData from '../data/agenda.json';
import type { MatchData } from '../types/agenda.d.ts';


//Lógica de filtrado para encontrar el Próximo Partido
const now = new Date();

const upcomingMatches = agendaData
     .filter(match => {
                
    // Combina fecha y hora para una comparación precisa
    const matchDateTime = new Date(`${match.fecha}T${match.hora}:00`); 
    return matchDateTime > now;
})



upcomingMatches.sort((a, b) => {
	const dateA = new Date(`${a.fecha}T${a.hora}:00`);
    const dateB = new Date(`${b.fecha}T${b.hora}:00`);

	return dateA.getTime() - dateB.getTime();
	});


const nextMatch = upcomingMatches[0];
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/images/victoriano-200x200.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CR Victorianos</title>
	</head>
	<body class="bg-victoriano-blue text-shadow-victoriano-lightyellow" >
		<BaseLayout title="">
			<Hero/>
			<!-- Prómo partido -->
			<section class="max-w-7xl mx-auto py-12 px-4">
				<h2 class="text-3xl font-headline font-bold text-center mb-8 text-victoriano-yellow">
					Próximo Partido
				</h2>
				
				<div class="flex justify-center">
					{nextMatch ? (
						/* Renderiza el componente CardMatch con los datos fijos */
						<CardMatch match={nextMatch} />
					) : (
						/* Mensaje de alternativa si el ID 2 no existe en el JSON */
						<div class="p-6 bg-gray-100 rounded-lg text-center">
							<p class="text-lg text-gray-700">Error: El partido con ID 2 no se ha encontrado en la agenda.json.</p>
						</div>
					)}
				</div>

				<div class="text-center mt-8">
					<a href="/agenda" class="bg-club-blue text-victoriano-lightyellow py-3 px-6 rounded-lg font-body font-semibold hover:bg-club-yellow hover:text-club-blue transition duration-300 shadow-lg">
						Ver Agenda Completa
					</a>
				</div>
			</section>

			<h1>Breve club</h1>
			
			<h1>Cifras escuelita + horarios entrenamiento</h1>
			<h1>valores y mierdas</h1>
			<h1>Patrocinadores</h1>
			<h1>Footer</h1>
		 </BaseLayout>
	</body>
</html>
